body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(40, 39, 39);
    
}
.main {
    display: flex;
}
aside {
    background-color: rgb(33, 33, 33);
    padding: 10px;
    color: white;
    width: 280px;
}

.logo {
    font-size: 30px;
    padding: 20px 10px;
    font-family: 'Cabin', sans-serif;
}
.iphone{
    font-size: 30px;
    padding: 20px 10px;
    font-family: 'Cabin', sans-serif;
    color: white;
    display: none;
}
.iphone i{
    color: rgb(79, 236, 147);
}
.home,
.search,
.library,
.like,
.creatList {
    margin: 20px 20px;
    font-size: 14px;
}
.homex,
.searchx,
.likex,
.libraryx,
.creatx {
    margin-left: 18px;
    color: rgb(212, 208, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.creatList {
    margin-top: 50px;
}

.box1 a {
    color: white;
    text-decoration: none;
}
.recentplay{
    color: rgb(183, 181, 181);
    text-align: left;
}
.homex:hover,
.searchx:hover,
.libraryx:hover,
.creatx:hover,
.likex:hover {
    color: white;
}
.head {
    background-color: rgb(40, 39, 39);
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.nav{
    position: sticky;
    top: 30px;
}
#playbtn{
    width: 30px;
    height: 20px;
}
.home i,
.search i,
.library i,
.like i,
.creatList i {
    font-size: 17px;
    color: rgb(197, 195, 195);
}

.logo i {
    color: rgb(79, 236, 147);
}

.like i {
    color: rgb(245, 89, 115);
}
.install {

    margin: 60px 0px 20px 35px;
    font-size: 18px;
}

.artistx {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
}
.arjit,
.hunny,
.neha,
.jubain,
.mooshe,
.shreya {
    padding: 10px;
    text-align: center;
    margin-left: 15px;
}

.artistx img {
    height: 125px;
    width: 130px;
    border-radius: 50%;
}
.artistx a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.arjit:hover,
.hunny:hover,
.neha:hover,
.jubain:hover,
.mooshe:hover,
.shreya:hover {
    background-color: rgba(98, 97, 97, 0.326);
    border-radius: 10px;
}
.trendingx{
    display: flex;
    overflow-x: scroll;
    color: white;
    margin-top: 20px;
}
.trendingx img{
    height: 135px;
    width: 150px;
}
footer {
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(190, 188, 188); 
    position: sticky;
    bottom: 0px;
}
.slidebar{
    padding-top: 5px;
}
.slidebar #slidebar {
    width: 60vw;
    height: 2px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}
.control i {
    padding: 12px 10px 10px 0px;
    font-size: 20px;
    color: rgb(237, 235, 235);
    cursor: pointer;

}
::-webkit-scrollbar {
    display: none;
}
.recent {
    display: flex;
    overflow-x: scroll;
}

.mus1 {
    width: 200px;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 10px 15px;
    cursor: pointer;
    
}

.mus1 img {

    height: 200px;
    width: 200px;
}

.mus1 i {
    position: relative;
    left: 70px;
    bottom: 50px;
    font-size: 30px;
}

.mus1:hover {
    background-color: rgb(62, 61, 61);
    color: rgb(107, 244, 148);

}

.mus1 {
    color: transparent;
    transition: 0.3s ease-in-out;
}

.mus1 .name {
    color: white;
    text-decoration: none;
}
.pic{
    background-color: transparent;
}

.pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 3px 5px 15px rgb(161, 223, 227);
}
.title{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: rgb(211, 209, 209);
    text-align: center;
    padding: 30px 5px 10px 5px;
}
.played{
    width: 800px;
    text-align: center;
}

.info{
    width: 300px;
    height: 280px;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: scroll;
    color: black;
    margin: 0px auto;  
}

table tr{
   text-align: left;   
}
.ArjitInfo{
    display: flex;
    background-color: rgb(222, 153, 153);
    width: 100%;
    height: 504px;
    overflow-y: scroll;
}
.tabletitle{
    background-color: rgba(219, 218, 218, 0.224);
}
.popular{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;   
}
.artistlist{
    font-size: 30px;
    color: rgb(235, 208, 208);
    padding-left: 20px;
    font-family: cursive;
    margin-top: 20px;
}
.arjitsong{
    width: 100%;
    background-color: rebeccapurple;
    text-align: center;
    background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}
#headarjit{
    display: flex;
}
.fimg img{
    width: 50px;
    padding-left: 20px;
    height: 40px;   
}
.Asong{
    display: flex;
    align-items: center;
    
}
.fimg{
    text-align: center;
}

.k{
    padding:4px 28px;
    text-align: center;
    cursor: pointer;   
}
.k input{
    text-align: center;
    background-color: transparent;
    
    font-weight: bold;
}
.sr{
    padding-left: 20px;
}
.arjitsong table{
    margin-top: 59px;
}
.Aname{
    
    width: 70%;
    margin: 0px auto;
    background-color: rgba(20, 19, 19, 0.596);
    color: white;
    font-size: 15px;
}
.row:hover{
    outline: 1px solid rgb(134, 132, 132);
    background-color: rgba(153, 149, 149, 0.521);
    border-radius: 8px;  
}
.nehas{
    display: flex;
    background-color: rgb(40, 39, 39);
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.infoname{
    font-weight: bold;
}

@media screen and (max-width:700px) {
    .mus1 {
        width: 300px;
        padding: 10px;
    }
    .mus1 img {

        height: 270px;
        width: 300px;
    }
    .box1 {
        width: 390px;
    }
}
@media screen and (max-width:500px) {
    .artistx{
        overflow-x: scroll;
    }
    .iphone{
        display: block;
    }
    aside{
        display: none;
    }
    .k{
        padding: 0px;
    }
    .trendingx, .artistx{
        margin-left: -20px;
    }
    .nehas{
        display: block;
    }
    .mus1 {
        width: 250px;
        padding: 10px;
        margin-left:-1px;
    }
    .mus1 img{
        width: 200px;
    }
    .footer{
         background-color: red;
    }

    .box1 {
        width: 390px;
    }
}
